@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

/* Adding All My Section Tag Fixed Padding */
section{
    padding:0 80px 80px 80px; /* Originally: 80px */
}

/* Creating Banner Area in CSS */
.banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    background: url("images/my_pic4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 0%;
}

.intro{
    font-size: 2.5em;
    color: #444;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span{
    font-size: 1.2em;
    color: #efefef;
}

.banner h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

.banner h6{
    position: absolute;
    bottom: 20px;
    left: 80px;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}


.btn{
    position: relative;
    background: #009e66;
    display: inline-block;
    color: #000;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}

/* Create About me Layout in CSS */
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading p{
    font-style: italic;
    font-size: 14px;
}

.heading h2{
    font-style: italic;
    font-size: 3em;
    color: #009e66;
}

.content{
    display: flex;
    justify-content: space-between;
}

.contentBx{
    padding-left: 40px;
    text-align: justify;
}

.proPic{
    width: 440px;
    height: 310px; /* not a 1:1 ratio. Original 800w x 600h */
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
}

.contentBx h2{
    font-weight: 300;
    margin-bottom: 10px;
}

.heading_bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.btn.round{
    border-radius: 50px;
}

.bt{
    margin-top: 20px;
}

.w50{
    min-width:25%;
}
img{
    max-width:100%;
}

/*Creating Logo & Menu's Header Using CSS*/
header{
    position: fixed;  /* Causes fixed position, stays even with scrolling */
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px; /* TB 40 px, LR 100px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* Specify stack order */
    transition: 0.5s;
}

header .logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style-type: None; /* remove <li> bullets */
    position: relative;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: None;
    color: #ffffff;
}

/* Creating Sticky Header Nav Bar in CSS */
.sticky {
    background-color: #fff;
    padding: 20px 100px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);  /* x-axis, y-axis, RGA aplha */
}

header.sticky .logo,
header.sticky ul li a{
    color: #111111;
}

.knowledge
{
    background: #111111;
    padding-top: 20px;
}

.heading p{
    padding-top: 20px;
}
.heading.white p{
    color:#ffffff;
}

.knowledge.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Inserting this collapsed row between two flex items will make
 * the flex item that comes after it break to a new row */
.servicesBreak {
    flex-basis: 100%;
    height: 0;
}

.knowledge .content .servicesBox{
    color: white;
    background: #161616;
    /*flex-basis: 33.333333%;*/
    margin: 10px 15px;
    padding: 30px 15px;
    text-align: center;
    max-width: 240px;
}

.knowledge .content .servicesBox:hover {
    border-bottom: 2px solid #009e66;
}

.knowledge .content .servicesBox .fa {
    color:  #009e66;
    padding-bottom: 5px;
}
