# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/deployment.xml
/inspectionProfiles/Project_Default.xml
/sshConfigs.xml
/webServers.xml
/WesHavens.info.iml
